IMPORTING NEEDED LIBRARIES

In [ ]:
import pandas as pd
import os
import subprocess
import json
import streamlit as st
import mysql.connector as sql
import plotly.express  as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

EXTRACTING DATA FROM PHONEPE PULSE REPOSITRY

In [ ]:
repo_url = 'https://github.com/phonepe/pulse.git'
destination_dir = r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse'
subprocess.run(['git', 'clone', repo_url, destination_dir])

AGGREGATED TRANSCATIONS

In [ ]:
up2country=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\aggregated\transaction\country\india\state'
table1={'state':[],'year':[],'quarter':[],'transactiontype':[],'transactioncount':[],'transactionamount':[]}
for file1 in os.listdir(up2country):
    up2state=os.path.join(up2country,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                aggtr=json.load(file)
                for i in aggtr['data']['transactionData']:
                    table1['state'].append(file1)
                    table1['year'].append(file2)
                    table1['quarter'].append(int(file3.strip('.json')))
                    table1['transactiontype'].append(i['name'])
                    table1['transactioncount'].append(i['paymentInstruments'][0]['count'])
                    table1['transactionamount'].append(i['paymentInstruments'][0]['amount'])
aggtr=pd.DataFrame(table1)
print(aggtr)

AGGREGATED USER

In [ ]:
up2country = r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\aggregated\user\country\india\state'
table2 = {'state': [], 'year': [], 'quarter': [], 'brand': [], 'transactioncount': [], 'percentageshare': []}

for file1 in os.listdir(up2country):
    up2state = os.path.join(up2country, file1)
    for file2 in os.listdir(up2state):
        up2year = os.path.join(up2state, file2)
        for file3 in os.listdir(up2year):
            up2quarter = os.path.join(up2year, file3)
            try:
                with open(up2quarter, 'r') as file:
                    agguser = json.load(file)
                    #print(agguser)  # Check the loaded JSON data
                    if 'data' in agguser and 'usersByDevice' in agguser['data']:
                        if isinstance(agguser['data']['usersByDevice'], list):
                            for i in agguser['data']['usersByDevice']:
                                table2['state'].append(file1)
                                table2['year'].append(file2)
                                table2['quarter'].append(int(file3.strip('.json')))
                                table2['brand'].append(i['brand'])
                                table2['transactioncount'].append(i['count'])
                                table2['percentageshare'].append(i['percentage'])
                       # else:
                           # print(f"Invalid 'usersByDevice' structure in file: {up2quarter}")
                    else:
                        print(f"Missing 'data' or 'usersByDevice' in file: {up2quarter}")
            except json.JSONDecodeError as e:
                print(f"Error loading JSON from file: {up2quarter}")
                print(e)
                continue

agguser = pd.DataFrame(table2)
print(agguser)

MAP TRANSACTION

In [ ]:
up2country3=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\map\transaction\hover\country\india\state'
table3={'state':[],'year':[],'quarter':[],'District':[],'transactioncount':[],'transactionamount':[]}
for file1 in os.listdir(up2country3):
    up2state=os.path.join(up2country3,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                maptr=json.load(file)
                for i in maptr['data']['hoverDataList']:
                            table3['state'].append(file1)
                            table3['year'].append(file2)
                            table3['quarter'].append(int(file3.strip('.json')))
                            table3['District'].append(i['name'])
                            table3['transactioncount'].append(i['metric'][0]['count'])
                            table3['transactionamount'].append(i['metric'][0]['amount'])
                
            
maptr=pd.DataFrame(table3)
print(maptr)

MAP USERS

In [ ]:
up2country4=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\map\user\hover\country\india\state'
table4={'state':[],'year':[],'quarter':[],'District':[],'Registeredusers':[],'Appopens':[]}
for file1 in os.listdir(up2country4):
    up2state=os.path.join(up2country4,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                mapuser=json.load(file)
                for i in mapuser['data']['hoverData'].items():
                            table4['state'].append(file1)
                            table4['year'].append(file2)
                            table4['quarter'].append(int(file3.strip('.json')))
                            table4['District'].append(i[0])
                            table4['Registeredusers'].append(i[1]['registeredUsers'])
                            table4['Appopens'].append(i[1]['appOpens'])
                            
                            
                
            
mapuser=pd.DataFrame(table4)
print(mapuser)

TOP TRANSACTIONS

In [ ]:
up2country5=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\top\transaction\country\india\state'
table5={'state':[],'year':[],'quarter':[],'Pincode':[],'transactioncount':[],'transactionamount':[]}
for file1 in os.listdir(up2country5):
    up2state=os.path.join(up2country5,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                toptr=json.load(file)
                for i in toptr['data']['pincodes']:
                            table5['state'].append(file1)
                            table5['year'].append(file2)
                            table5['quarter'].append(int(file3.strip('.json')))
                            table5['Pincode'].append(i['entityName'])
                            table5['transactioncount'].append(i['metric']['count'])
                            table5['transactionamount'].append(i['metric']['amount'])
                            
                            
                
            
toptr=pd.DataFrame(table5)
print(toptr)

In [ ]:
TOP TRANSACTIONS (IMPORTANT CITIES)

In [ ]:
up2country5=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\top\transaction\country\india\state'
table6={'state':[],'year':[],'quarter':[],'Primecities':[],'transactioncount':[],'transactionamount':[]}
for file1 in os.listdir(up2country5):
    up2state=os.path.join(up2country5,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                toptrcity=json.load(file)
                for i in toptrcity['data']['districts']:
                            table6['state'].append(file1)
                            table6['year'].append(file2)
                            table6['quarter'].append(int(file3.strip('.json')))
                            table6['Primecities'].append(i['entityName'])
                            table6['transactioncount'].append(i['metric']['count'])
                            table6['transactionamount'].append(i['metric']['amount'])
                            
                            
                
            
toptrcity=pd.DataFrame(table6)
print(toptrcity)

TOP USERS

In [ ]:
up2country6=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\top\user\country\india\state'
table7={'state':[],'year':[],'quarter':[],'Pincode':[],'Registeredusers':[]}
for file1 in os.listdir(up2country6):
    up2state=os.path.join(up2country6,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                topuser=json.load(file)
                for i in topuser['data']['pincodes']:
                            table7['state'].append(file1)
                            table7['year'].append(file2)
                            table7['quarter'].append(int(file3.strip('.json')))
                            table7['Pincode'].append(i['name'])
                            table7['Registeredusers'].append(i['registeredUsers'])
                        
                            
                            
                
            
topuser=pd.DataFrame(table7)
print(topuser)

In [ ]:
TOP USERS(IMPORTANT CITIES)

In [ ]:
up2country6=r'C:\Users\JAKAN MAGUDAPATHY\Desktop\GUVI\datasets\phonepe pulse\data\top\user\country\india\state'
table8={'state':[],'year':[],'quarter':[],'Primecities':[],'Registeredusers':[]}
for file1 in os.listdir(up2country6):
    up2state=os.path.join(up2country6,file1)
    for file2 in os.listdir(up2state):
        up2year=os.path.join(up2state,file2)
        for file3 in os.listdir(up2year):
            up2quarter=os.path.join(up2year,file3)
            with open(up2quarter,'r') as file:
                topusercity=json.load(file)
                for i in topusercity['data']['districts']:
                            table8['state'].append(file1)
                            table8['year'].append(file2)
                            table8['quarter'].append(int(file3.strip('.json')))
                            table8['Primecities'].append(i['name'])
                            table8['Registeredusers'].append(i['registeredUsers'])
                        
                            
                            
                
            
topusercity=pd.DataFrame(table8)
print(topusercity)

CONVERTING DATAFRAMES INTO CSV FILES

In [ ]:
aggtr.to_csv('aggtr.csv',index=False)
agguser.to_csv('agguser.csv',index=False)
maptr.to_csv('maptr.csv',index=False)
mapuser.to_csv('mapuser.csv',index=False)
toptr.to_csv('toptr.csv',index=False)
toptrcity.to_csv('toptrcity.csv',index=False)
topuser.to_csv('topuser.csv',index=False)
topusercity.to_csv('topusercity.csv',index=False)

ESRABLISHING CONNECTION WITH MYSQL

In [ ]:
mydb = sql.connect(host="localhost",
                   user="root",
                   password="Jakan1997@",
                   database= "phonepepulse"
                  )
mycursor = mydb.cursor()

AGGREAGATED  TABLES

In [ ]:
#mycursor.execute("CREATE TABLE aggtransaction (state VARCHAR(255),year INT,quarter INT,transactiontype VARCHAR(255),transactioncount BIGINT,transactionamount FLOAT)")

for index,row in aggtr.iterrows():
    sql="INSERT INTO aggtransaction(state,year,quarter,transactiontype,transactioncount,transactionamount) VALUES (%s,%s,%s,%s,%s,%s)" 
    mycursor.execute(sql,tuple(row))
    mydb.commit()

In [ ]:

for _, row in agguser.iterrows():
            insert_query = """
                INSERT INTO agguser (state, year, quarter, brand, transactioncount, percentageshare)
                VALUES (%s, %s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query, tuple(row))
            mydb.commit()

MAP TABLES

In [ ]:
create_table_query = """
            CREATE TABLE maptr (
                state VARCHAR(255),
                year INT,
                quarter INT,
                District VARCHAR(255),
                transactioncount INT,
                transactionamount FLOAT
            )"""
        
mycursor.execute(create_table_query)

In [ ]:
for _, row in maptr.iterrows():
        insert_query = """
                INSERT INTO maptr (state, year, quarter, District, transactioncount, transactionamount)
                VALUES (%s, %s, %s, %s, %s, %s)
            """
        mycursor.execute(insert_query,tuple(row))
        mydb.commit()

In [ ]:
create_table_query = """
            CREATE TABLE mapuser (
                state VARCHAR(255),
                year INT,
                quarter INT,
                District VARCHAR(255),
                Registeredusers INT,
                Appopens INT
            )
        """
mycursor.execute(create_table_query)

In [ ]:
for _, row in mapuser.iterrows():
            insert_query = """
                INSERT INTO mapuser (state, year, quarter, District, Registeredusers, Appopens)
                VALUES (%s, %s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query,tuple(row))
            mydb.commit()

TOP TABLES

In [ ]:
create_table_query = """
            CREATE TABLE toptransaction (
                state VARCHAR(255),
                year INT,
                quarter INT,
                Pincode VARCHAR(255),
                transactioncount INT,
                transactionamount FLOAT
            )
        """
mycursor.execute(create_table_query)

In [ ]:
for _, row in toptr.iterrows():
            insert_query = """
                INSERT INTO toptransaction (state, year, quarter, Pincode, transactioncount, transactionamount)
                VALUES (%s, %s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query,tuple(row))
            mydb.commit()

In [ ]:
create_table_query = """
            CREATE TABLE toptrprimecities (
                state VARCHAR(255),
                year INT,
                quarter INT,
                Primecities VARCHAR(255),
                transactioncount INT,
                transactionamount FLOAT
            )
        """
mycursor.execute(create_table_query)

In [ ]:
 for _, row in toptrcity.iterrows():
            insert_query = """
                INSERT INTO toptrprimecities (state, year, quarter, Primecities, transactioncount, transactionamount)
                VALUES (%s, %s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query,tuple(row))
            mydb.commit()

In [ ]:
create_table_query = """
            CREATE TABLE topuser (
                state VARCHAR(255),
                year INT,
                quarter INT,
                Pincode VARCHAR(10),
                Registeredusers INT
            )
        """
mycursor.execute(create_table_query)

In [ ]:
for _, row in topuser.iterrows():
            insert_query = """
                INSERT INTO topuser (state, year, quarter, Pincode, Registeredusers)
                VALUES (%s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query,tuple(row))
            mydb.commit()

In [ ]:
create_table_query = """
            CREATE TABLE topuserprimecities (
                state VARCHAR(255),
                year INT,
                quarter INT,
                Primecities VARCHAR(255),
                Registeredusers INT
            )
        """
mycursor.execute(create_table_query)

In [ ]:
for _, row in topusercity.iterrows():
            insert_query = """
                INSERT INTO topuserprimecities (state, year, quarter, Primecities, Registeredusers)
                VALUES (%s, %s, %s, %s, %s)
            """
            mycursor.execute(insert_query,tuple(row))
            mydb.commit()

In [ ]:
mycursor.execute("show tables")
mycursor.fetchall()